NEXT_PUBLIC_SUPABASE_URL=https://zedeieifmzoddimtjnxp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InplZGVpZWlmbXpvZGRpbXRqbnhwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3NTExNTMsImV4cCI6MjA5NjMyNzE1M30.VA165SIXTZypkn67fkKP62nQu40wuqW5OomDSQBcils
